
@font-face {
font-family: "FUTRFW";
src: url("FUTRFW.TTF");
}
@keyframes appear{
    0%{opacity: 0;}
    100%{opacity:1}
}
@keyframes rise{
    0%{ top: 450px;}
    100%{top: 350px;}
}
@keyframes rise2{
    0%{
        border-left: 1000px solid transparent;
  border-right: 1000px solid transparent;
  border-bottom: 0px solid black;
 
    }
    100%{
        border-left: 1000px solid transparent;
        border-right: 1000px solid transparent;
        border-bottom: 100px solid black;
    }
}
@keyframes appear2{
    0%{
        top: 350px;
        opacity: 0;
    }
    100%{
        top: 250px;
        opacity: 1;}
}
body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
#syrus{
    font-family: 'FUTR', sans-serif;
    font-size: 48px;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 0px;
}
#subtitle{
    margin-top: 0px;
    font-family: 'FUTR', sans-serif;
    text-align: center;
    font-size: 16px;
}

#sessions{
    width: 170px;
    height:133px;
    margin: auto;
}
#sessions p{
    font-family: 'FUTR', sans-serif;
    font-size: 11px;
    text-align: center;
    left: -250px;
    position: relative;
    
}
#icon1{
    width: 100%;
    height: 99px;
    position: relative;
    left: -250px;
    
    animation-name: appear;
    animation-duration: 4s;
    
    
}
#head1{
    background-color: black;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: relative;
    left: 39px;
    top: 40px;   
    float: left;
}
#body1{
    background-color: black;
    height: 40px;
    width: 30px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    position: relative;
    left: 33px;
    top: 41px;
}
#head2{
    background-color: black;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: relative;
    left: 105px;
    top: 40px;   
    
}
#body2{
    background-color: black;
    height: 40px;
    width: 30px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    position: relative;
    left: 107px;
    top: 1px;
    float: left;
}
#table{
    
    height: 20px;
    width: 10px;
    left: 75px;
    position: relative;
    top: 16px;
    border: solid 5px #000;
  border-color: #000 transparent transparent transparent;
  border-radius: 50%/100px 100px 0 0;
}

#sessionsText{
        animation-name: appear;
        animation-duration: 4s;
}

#icon2{
    
    width: 100%;
    height: 99px;
    position: relative;
    left: -20px;
    top: -100px;
    
    opacity: 0;
    animation-name: appear;
    animation-duration: 4s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}


#paper{
    height: 70px;
    width: 55px;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}
#line1{
    background-color: black;
    height: 100%;
    width: 2px;
    position: relative;
    left: 5px;
}
#line2{
     background-color: black;
    height: 100%;
    width: 2px;
    position: relative;
    left: 9px;
    top: -70;
}
#line3{
    background-color: black;
    height: 2px;
    width: 100%;
    position: relative;
    top: -132px;
}
#customText{
    top: -133px;
    opacity: 0;
    margin-left: 233px;
    animation-name: appear;
    animation-duration: 4s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
   
}

#icon3{
    width: 100%;
    height: 99px;
    position: relative;
    left: 122px;
    opacity: 0;
    animation-name: appear;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    
}
#tieLine1{
    height: 60px;
    background-color: black;
    width: 3px;
    transform: rotate(25deg);
    position: relative;
    top: -251px;
    left: 39px;
}
#tieLine2{
    height: 60px;
    background-color: black;
    width: 3px;
    transform: rotate(-25deg);
    position: relative;
    top: -311px;
    left: 44px;  
    border-radius: 10%;
}
#tieLine3{
    width: 22px;
    height: 3px;
    background-color: black;
    position: relative;
    top: -369px;
    left: 33px;
    border-radius: 25%;
}
#tieLine4{
    height: 24px;
    background-color: black;
    width: 3px;
    transform: rotate(-40deg);
    position: relative;
    top: -321px;
    left: 34px;  
    border-bottom-left-radius: 50%;
}
#tieLine5{
    height: 24px;
    background-color: black;
    width: 3px;
    transform: rotate(40deg);
    position: relative;
    top: -345px;
    left: 49px;  
    border-bottom-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
#interviewText{
    top: -280px;
    margin-left: 383px;
    opacity: 0;
    animation-name: appear;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

#icon4{
    position: relative;
    top: -400px;
    left: 506px;
    font-family: 'FUTRFW';
    font-size: 64px;

}
#icon4 p{
    font-size: 20px;
    opacity: 0;
    animation-name: appear;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#blackTriangle{
 
  width: 0; 
  height: 0; 
  border-left: 1000px solid transparent;
  border-right: 1000px solid transparent;
  border-bottom: 0px solid black;
  margin-bottom: 0px;
  padding-bottom: 0px;
  animation-name: rise2;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;

}
#bioBG{
    margin-top: 0px;
    padding-top: 0px;
    width: 100%;
    background-color: black;
    color: white;
    height: 800px;
    text-align: center;
}
#bio{
    color: white;
    font-family: 'HelveticaNeue-Light', sans-serif;
    position: relative;
    top: 250px;
    
}
#bio span{
    font-size: 36px;
}

